.menu-fondo{
	background-color: #d4a402!important;
}
.contenido-fondo{
	background-color: #026698!important;
	padding-bottom: 0px !important;
}

.footer-distributed{
	margin-top: 0px !important;
}

.nav-link, a{
	color: #fff !important;
}

